beautifulsoup4==4.6.0
bitsets==0.7.11
certifi==2017.7.27.1
chardet==3.0.4
concepts==0.7.11
fake-useragent==0.1.7
features==0.5.7
fileconfig==0.5.5
futures==3.1.1
gevent==1.2.2
graphviz==0.8
greenlet==0.4.12
idna==2.6
lxml==3.8.0
MySQL-python==1.2.5
psycopg2==2.7.3
pymongo==3.5.1
PySocks==1.6.7
redis==2.10.5
requests==2.18.4
SQLAlchemy==1.1.13
urllib3==1.24.2